* {
  margin: 0;
  padding: 0;
}
/*GLOBAL*/
a {
  font-family: "Zen Dots", cursive;
  font-size: 1.76em;
  text-decoration: none;
  color: black;
}
p {
  font-family: alternate-gothic-no-1-d, sans-serif;
  font-style: 200;
  font-weight: 400;
  font-size: 1.5em;
}
h1,
h2,
h3 {
  font-family: komu-a, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
}
h4,
h5 {
  font-size: 1em;
  font-weight: 100;
  text-transform: capitalize;
}

.text_center {
  width: 100%;
  text-align: center;
}
.sticky_item {
  position: sticky;
  top: 0;
  z-index: 5;
}
/*HEADER*/
header {
  width: 100%;
  max-height: 90px;
  padding: 5px;
  background-color: #f4f9fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 2px solid black;
  z-index: 10;
}
.hamburger_label {
  margin: 5%;
  align-self: center;
}
nav {
  width: 100%;
  height: 90px;
  align-items: center;
  white-space: nowrap;
}
nav a {
  padding: 10px;
}
nav a:hover {
  font-size: 2em;
  color: #009df8;
}
.current {
  color: gray;
}
header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 90px;
}

.right {
  display: block;
  width: 100%;
  height: inherit;
  align-items: center;
  float: right;
}
.right ul {
  float: right;
}
.right ul ul {
  display: block;
  width: 100%;
  height: inherit;
  align-items: center;
}

.right a {
  float: right;
  font-size: 1.38em;
  align-items: center;
}
.logo {
  margin: 3%;
  max-height: inherit;
}
.logo img {
  max-height: inherit;
}
.hamburger {
  display: none;
}
.hamburger_label {
  display: none;
}

.profile_img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  max-height: inherit;
  object-fit: cover;
  background-image: url(img/dog_on_couch.jpg);
  border: 3px solid #48bbff;
}

/*MAIN*/
html {
  background-image: url(img/pexels-pixabay-414781.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .sticky_item {
  top: 100px;
  border-radius: 30px;
}

main h2 {
  border-radius: 30px;
  font-size: 3em;
  background-color: #cde9f9;
}
.featured,
.news {
  max-width: 800px;
  background-color: #f4f9fc;
  align-items: center;
}
/*main__featured_news*/
.featured p,
.news p {
  margin-bottom: 25px;
}
.featured a,
.news a {
  padding: 5px;
  border-radius: 10px;
  background-color: #cde9f9;
  font-size: 1em;
  float: right;
}
.featured video,
.news img {
  max-width: 100%;
  background-color: transparent;
  margin: 20px 0;
}
main .sticky_item {
  width: 100%;
  background-color: #cde9f9;
}
/*main_featured*/
.featured__block,
.news_block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  padding: 10px;
  border-bottom: 1px solid black;
}
.featured h2 {
  margin-bottom: 40px;
}

.under_title {
  display: flex;
  align-items: center;
  margin: 10px 0 20px 10px;
}
.vid_tag {
  width: 50px;
  border-radius: 20px;
  background-color: #f5f5f5;
  margin-left: 20px;
  padding: 3px;
  text-align: center;
  border: 1px solid black;
}
/*main_news*/
.news_block h3 {
  font-size: 5em;
  color: rgb(17, 17, 17);
}
.photo_and_text {
  display: flex;
  margin-top: 70px;
  border-bottom: 1px solid black;
  max-width: 100%;
}

/*HACKS*/
.checkbox_hack {
  display: none;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 1200px) {
  /*HEADER*/
  header {
    position: relative;
  }
  nav {
    display: none;
  }
  .profile_img {
    display: none;
  }
  .hamburger_label {
    display: block;
  }
  /*MAIN*/
  .featured,
  .news {
    flex-wrap: wrap;
  }
  .featured__movie {
    display: flex;
    flex-wrap: wrap;
  }
  .featured__movie img,
  .news img {
    min-width: 100%;
  }
  .featured__movie {
    min-width: 50%;
  }
  .vid {
    max-width: none;
  }

  .featured p {
    font-size: 1.5em;
  }
  .featured .sticky_item,
  .news .sticky_item {
    top: 0;
  }
}
