@import url(/styles/main.css);

main {
  display: block;
  justify-content: center;
}
.main_content {
  width: 90%;
  background-color: var(--widget-bg-color);
  margin: 0 auto;
}
h1 {
  background: var(--widget-bg-color);
}
.sort {
  background-color: var(--widget-bg-color);
  width: 100%;
}

.sort fieldset {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
main label {
  background-color: var(--button-hover-color);
  border-radius: 40px;
  font-size: 1.5em;
  padding: 4px;
  margin: 5px;
  white-space: nowrap;
}
/*sort*/
select {
  width: 90px;
  height: 40px;
  border-radius: 20px;
  font-size: 1em;
  margin: 20px;
}

.sort fieldset .search_n_button {
  width: 60%;
  display: flex;
  align-items: center;
}
.search {
  width: 90%;
  height: 50px;
  font-size: 1.5em;
  position: relative;
  margin: 0;
}
.main_content button {
  background-color: transparent;
  border: none;
  margin-left: -25px;
  z-index: 5;
}
/*output*/
.output {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.film_container:nth-child(odd) {
  background-color: rgb(244, 244, 244);
}
.film_container:nth-child(even) {
  background-color: rgb(194, 194, 194);
}
.film__img {
  max-width: 200px;
  object-fit: cover;
}
.film_container {
  display: flex;
  max-width: 450px;
  height: fit-content;
  max-height: 300px;
  margin: 25px;
  overflow: hidden;
  background-color: aliceblue;
}

@media screen and (max-width: 1200px) {
  .vid_overlay {
    width: 100%;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 5px;
    margin-bottom: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .main_content {
    width: 99%;
  }
}
@media screen and (max-width: 450px) {
  .search_n_button {
    width: 100%;
  }
  .sort {
    text-align: center;
  }
}
