@import url(/styles/main.css);

main {
  display: flex;
  justify-content: center;
}
.main_content {
  width: 90%;
  background-color: var(--widget-bg-color);
}

.sort {
  background-color: var(--widget-bg-color);
  width: 100%;
}
fieldset {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
fieldset .left {
  width: 40%;
  min-width: 400px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
fieldset .search_n_button {
  min-width: 400px;
  width: 60%;
  display: flex;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
}
select {
  width: 90px;
  height: 40px;
  border-radius: 20px;
  font-size: 1em;
  margin: 20px;
}
main label {
  background-color: gray;
  border-radius: 40px;
  font-size: 1.5em;
  padding: 4px;
  margin: 5px;
  white-space: nowrap;
}
.search {
  width: 90%;
  height: 50px;
  font-size: 1.5em;
  position: relative;
}
.main_content button {
  margin-left: -20px;
  z-index: 5;
}

video {
  width: 100%;
  position: relative;
}
.video_element {
  width: 400px;
  position: relative;
}
.video_element:hover > .vid_overlay {
  width: 100%;
  background-color: rgba(1, 1, 1, 0.5);
  padding: 5px;
  margin-bottom: 5px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.vid_overlay {
  display: none;
}
.vid_overlay .container {
  display: flex;
}
.output {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
h2,
h3 {
  color: white;
  font-size: 2em;
}
h3 {
  font-size: 1em;
}
@media screen and (max-width: 1200px) {
  .video_element:hover > .vid_overlay {
    display: none;
  }
  .vid_overlay {
    width: 100%;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 5px;
    margin-bottom: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .main_content {
    width: 99%;
  }
}
@media screen and (max-width: 450px) {
  .search {
    width: 100%;
  }
  fieldset .search_n_button {
    min-width: 150px;
    width: 100%;
  }
  .sort {
    text-align: center;
  }
}
