@import url(/styles/main.css);
main {
  align-items: center;
}
.main_container {
  background-color: rgba(240, 248, 255, 0.5);
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
video {
  max-width: 65%;
  margin: 20px 5px;
}
.btn {
  background-color: var(--button-color);
  padding: 5px 20px;
  font-size: 4em;
  border-radius: 50px;
  margin-bottom: 100px;
}
.btn_container {
  margin-bottom: 50px;
}

.about_se {
  width: 30%;
  margin: 20px auto;
}
@media screen and (max-width: 500px) {
  .main_container {
    width: 100%;
  }
  .btn {
    font-size: 2em;
  }
  video {
    max-width: 100%;
    margin: 10px 0;
  }
  .about_se {
    width: 100%;
  }
}
