@import url(/styles/main.css);
/*MAIN*/
#featured {
  position: relative;
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgb(205, 204, 204);
}
#featured .nav_btn {
  font-size: 2em;
  position: absolute;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 48%;
  background-color: rgba(255, 255, 255, 0.091);
  border: none;
}
#featured button:hover {
  background-color: var(--widget-bg-color);
}
#featured button:active {
  color: rgb(193, 193, 193);
}
.next_btn {
  right: 0;
  transform: rotate(-90deg);
}
.previus_btn {
  left: 0;
  transform: rotate(90deg);
}
.watch_now {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: white;
}
#featured__title {
  position: absolute;
  font-size: 7em;
  top: 30px;
  left: 30px;
  background-color: var(--widget-bg-color);
  padding: 10px;
  border-radius: 5px;
}
#featured__short_description {
  font-size: 1em;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 50%;
  background-color: var(--widget-bg-color);
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  #featured {
    height: 50vh;
  }
  #featured__title {
    font-size: 3em;
  }
  #featured__short_description {
    font-size: 0.9em;
    width: 80%;
  }
}
