.login_widget {
  background-color: #f4f9fc;
  border-radius: 30px;
  padding: 30px 50px;
  position: absolute;
  top: 3;
  right: 0;
  display: none;
}
form a {
  text-align: center;
  font-size: 1em;
}
legend {
  display: none;
}
fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  height: fit-content;
}
input,
label {
  margin: 0 auto;
  display: block;
  width: 300px;
  font-size: 2em;
}
input {
  height: 50px;
  margin-bottom: 10px;
}
.login_btn {
  background-color: white;
  border-radius: 30px;
  font-family: "Zen Dots", cursive;
  font-size: 1.76em;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
.login {
  text-align: center;
  display: none;
}
.login_label {
  font-family: "Zen Dots", cursive;
  font-size: 1.76em;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  text-align: center;
}
.login:checked ~ .login_widget {
  display: block;
}
