* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  box-sizing: border-box;
}

/*GLOBAL*/
/*G-variables*/
:root {
  --widget-bg-color: rgba(244, 249, 252, 0.981);
  --button-hover-color: #009df8;
  --button-color: #48bbff;
}
html {
  background-image: url(/img/pexels-nikita-belokhonov-5977360.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.cta {
  font-family: "Zen Dots", cursive;
}
a,
header .cta {
  font-size: 1.76em;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
p,
input,
textarea,
label {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-style: 200;
  font-weight: 300;
  font-size: 1.5em;
}
h1,
h2,
h3,
label,
legend {
  font-family: "komu-a", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5em;
  text-transform: capitalize;
}
h4,
h5 {
  font-size: 1em;
  font-weight: 200;
  text-transform: capitalize;
}
label {
  font-family: komu-a, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5em;
  text-transform: capitalize;
}
ul {
  list-style-type: none;
}
input {
  font-size: 1.5em;
  height: 30px;
}
textarea {
  resize: none;
  font-size: 1.5em;
}
input[type="file"] {
  width: 100%;
}
.center {
  width: 100%;
  margin: auto;
  text-align: center;
}
.text_center {
  text-align: center;
}
.sticky_item {
  position: sticky;
  top: 0;
  z-index: 5;
}
.hide {
  display: none;
}
.left {
  margin-right: auto;
  width: 100%;
}
.rounded_corners {
  border-radius: 30px;
}
.current {
  color: gray;
}
.flex_container {
  display: flex;
}

/*HEADER*/
header {
  width: 100%;
  max-height: 90px;
  padding: 5px;
  background-color: #f4f9fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 2px solid black;
  z-index: 10;
}
.hamburger_label {
  margin-left: 10px;
  padding: 10px;
}
.logo {
  margin: 1px 20px 0 10px;
}
.logo img {
  height: 80px;
}
.sec_nav {
  width: 100%;
  height: 90px;
  align-items: center;
  display: flex;
}

.space {
  max-width: 120px;
}
.sec_nav a {
  padding: 10px;
}
.sec_nav a:hover,
.login_signup a:hover {
  font-size: 2em;
  color: var(--button-hover-color);
}

.sec_nav ul {
  display: flex;
  align-items: center;
  height: 90px;
}

header .right a {
  float: right;
  font-size: 1.38em;
  align-items: center;
}

.profile_img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--button-color);
  display: none;
}
.login_signup {
  width: 200px;
  height: 90px;
  text-align: center;
  display: block;
  margin: auto;
}
/*HACKS*/
.checkbox_hack {
  display: none;
}
/*hamburger overlay*/
.menu_overlay {
  background-color: var(--widget-bg-color);
  width: 250px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.menu_overlay .flex_container {
  display: flex;
  flex-direction: row;
}
.menu_overlay li {
  background-color: gray;
  width: 100%;
  border: solid black 2px;
  margin-bottom: 2px;
}
.menu_overlay li a {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}
.menu_overlay li a:hover {
  background-color: var(--button-hover-color);
}

#hamburger:checked ~ .menu_overlay {
  display: block;
}
/*login overlay*/
.login_widget {
  background-color: #f4f9fc;
  border-radius: 30px;
  padding: 30px 50px;
  position: absolute;
  top: 1;
  right: 0;
  display: none;
  z-index: 2;
  margin-top: 16px;
}
.login_widget form a {
  text-align: center;
  font-size: 1em;
}
.login_widget legend {
  display: none;
}
.login_widget fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  height: fit-content;
}
.login_widget input,
.login_widget label {
  margin: 0 auto;
  display: block;
  width: 300px;
  font-size: 2em;
}
.login_widget input {
  height: 50px;
  margin-bottom: 10px;
}
.login_btn {
  background-color: white;
  border-radius: 30px;
  font-family: "Zen Dots", cursive;
  font-size: 1.76em;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
.login {
  text-align: center;
  display: none;
}
.login_label {
  font-family: "Zen Dots", cursive;
  font-size: 1.76em;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
.login:checked ~ .login_widget {
  display: block;
}

/*logged in sudo function*/
.logged_in:checked ~ .login_signup {
  display: none;
}
.logged_in:checked ~ a img {
  display: block;
}
@media screen and (max-width: 1200px) {
  /*HEADER*/
  header {
    position: relative;
  }
  .logo {
    margin-right: auto;
  }
  .sec_nav {
    display: none;
  }
  .login_signup {
    width: 100px;
    margin-left: auto;
    display: block;
  }
  /*MAIN*/
  .featured,
  .news {
    flex-wrap: wrap;
  }
  .featured__movie {
    display: flex;
    flex-wrap: wrap;
  }
  .featured__movie img,
  .news img {
    min-width: 100%;
  }

  .featured p {
    font-size: 1.5em;
  }
  .featured .sticky_item,
  .news .sticky_item {
    top: 0;
  }
}
@media screen and (max-width: 500px) {
  .logo img {
    width: 80px;
    height: auto;
  }
  header .cta {
    font-size: 1.5em;
  }
}
