@import url(/styles/main.css);

#film_spesific_container {
  position: relative;
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--widget-bg-color);
  padding: 10px;
  margin: auto;
}
#film_spesific_container img {
  min-width: 225px;
  max-width: 50%;
  height: fit-content;
  max-height: 70vh;
}

#rent_film {
  width: 200px;
  height: 75px;
}
.film_info_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
  min-width: 225px;
}
#similar_container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.similar_container__content_container img {
  max-width: 50%;
  object-fit: cover;
}
.similar_container__content_container {
  display: flex;
  max-width: 450px;
  height: fit-content;
  margin: 25px;
  overflow: hidden;
  border: 1px solid black;
}
.similar_container__content_container:hover {
  border: black;
  background-color: white;
}
.similar_container__content_container:visited {
  border: 1px black;
}

@media screen and (max-width: 900px) {
  #film_spesific_container img,
  .similar_container__content_container img {
    max-width: 100%;
  }
  .film_info_container {
    max-width: 100%;
  }
  .similar_container__content_container {
    flex-wrap: wrap;
  }
}
