@import url(/styles/main.css);
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.profile_menu {
  width: 20%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.profile_menu a {
  width: 100%;
  background-color: var(--button-color);
  color: black;
  text-align: center;
  border: solid 1px var(--widget-bg-color);
  border-radius: 20px 0 0 20px;
  margin-top: 10px;
  padding: 10px;
}
.profile_menu a:hover {
  background-color: var(--widget-bg-color);
}
.profile_main {
  width: 50%;
  min-width: 400px;
  background-color: var(--widget-bg-color);
  padding: 10px;
  flex: 3;
}
label {
  display: block;
}
#username {
  width: 60%;
}
.profile_main .change_password {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 20px 20px 20px 40px;
}

.change_password input {
  width: 80%;
}
.profile_main .submit_password {
  width: 160px;
  background-color: var(--button-color);
  font-size: 1em;
  margin-left: auto;
  margin-top: 10px;
}
.choose_avatar {
  border: solid 1px black;
  border-radius: 30px;
}
.select_avatar {
  border: solid 1px black;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: center;
}
.avatar {
  margin: 10px;
}
.choose_avatar img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: solid 2px var(--button-color);
  object-fit: cover;
  margin: 10px;
}

.custom_avatar {
  max-width: 300px;
  height: 120px;
  border: solid 1px black;
  display: flex;
  margin: 10px 10%;
}

.flex_container .save_btn {
  width: 120px;
  height: 50px;
  margin: auto 10px 10px auto;
  background-color: var(--button-color);
}
.upload_custom_avatar {
  display: none;
}
.custom_avatar label {
  width: fit-content;
  font-size: 1em;
  background-color: var(--button-color);
  padding: 5px;
  margin-top: 10px;
}

.avatar .container {
  width: 50%;
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.custom_avatar img {
  margin: 0 auto;
}
.profile_payment {
  width: 30%;
  min-width: 400px;
  height: fit-content;
  flex: 2;
}
.add_payment_method {
  width: 80%;
  min-height: 50px;
  border-radius: 0 70px 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-top: 40px;
}
.add_payment_method svg {
  height: inherit;
}
.add_payment_method a {
  font-size: 1.5em;
  margin: 0 30px 0 10px;
}
.payment_method {
  width: 80%;
  max-width: 400px;
  height: 220px;
  border-radius: 40px;
  background-color: var(--widget-bg-color);
  padding: 20px;
  margin: 20px auto;
}
.payment_method input {
  width: 100%;
}

/*payment widget*/
#cvc {
  width: 48px;
  margin-right: auto;
}
#card_num {
  width: 200px;
}
.payment_method legend {
  display: none;
}
.payment_method fieldset {
  border: none;
  padding: 20px;
}
.payment_method input,
.payment_method textarea {
  background-color: transparent;
  border: none;
}
.payment_method ::-webkit-inner-spin-button,
.payment_method ::-webkit-outer-spin-button {
  display: none;
}
#adress {
  width: 100%;
  font-size: 1.5em;
}
@media screen and (max-width: 800px) {
  .profile_main {
    width: 100%;
  }
  .profile_menu {
    width: 100%;
    margin-bottom: 10px;
  }
  .profile_menu a {
    border-radius: 30px;
  }
  .profile_menu {
    margin-top: 0;
  }
  .profile_payment {
    align-items: center;
  }
  .add_payment_method {
    border-radius: 50px;
  }
}
@media screen and (max-width: 500px) {
  .profile_main {
    width: 100%;
    min-width: 200px;
  }
  .profile_main .flex_container {
    flex-direction: column;
    background-color: aqua;
  }
  .flexcontainer .save_btn {
    margin: none;
  }
  .profile_payment {
    width: 100%;
    min-width: 300px;
  }
  .add_payment_method a {
    font-size: 1em;
  }
}
