@import url(/styles/main.css);
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 90.7vh;
}

.viewer {
  background-image: url(/img/pexels-rakicevic-nenad-1274260.jpg);
  background-size: cover;
  max-width: 98%;
  min-width: 50%;
  position: sticky;
}
.maker {
  background-image: url(/img/pexels-koolshooters-7346304.jpg);
  background-size: cover;
  max-width: 98%;
  min-width: 50%;
  position: sticky;
}
legend {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}
.sign_up_form {
  width: 800px;
  max-width: 95%;
  background-color: rgba(244, 249, 252, 0.5);
  margin: 10% auto;
  padding: 50px 0 50px 0;
  border-radius: 40px;
}
.sign_up_form .center {
  margin-top: 20px;
}

.sign_up label {
  font-size: 3em;
  text-transform: capitalize;
  margin-bottom: 10px;
}
fieldset {
  width: 80%;
  margin: 0 auto;
  border: none;
}
main input {
  display: block;
  height: 50px;
  width: 99%;
  margin: 0 0 10px auto;
}
.btn {
  display: none;
}
.temp_btn {
  margin: 50px 0;
  padding: 10px;
  background-color: aqua;
  border-radius: 20px;
  font-size: 3em;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  legend {
    font-size: 3em;
  }
  label {
    font-size: 2em;
  }
  .temp_btn {
    font-size: 2em;
  }
  .maker,
  .viewer {
    width: 100%;
    margin: 0;
  }
}
