@import url(/styles/main.css);
main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.preview {
  width: 45%;
  min-width: 200px;
  background-color: var(--widget-bg-color);
  margin-top: 40px;
  padding: 10px;
}
.preview h2 {
  text-align: center;
  margin: 10px;
}
.settings {
  width: 45%;
  min-width: 200px;
  height: 60vh;
  margin-top: 40px;
}
.preview video {
  width: 100%;
  position: relative;
}

.preview_overlay p {
  color: white;
  text-align: center;
}
.overlay_container {
  width: 80%;
  position: relative;
  margin: auto;
}
video {
  width: 100%;
  position: relative;
}
.video_element {
  width: 400px;
  position: relative;
  display: none;
}
.video_element:hover > .vid_overlay {
  width: 100%;
  background-color: rgba(1, 1, 1, 0.5);
  padding: 5px;
  margin-bottom: 5px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.vid_overlay {
  display: none;
}
.vid_overlay .container {
  display: flex;
}
/*upload form*/
fieldset {
  border: none;
}
.settings input {
  height: 40px;
  font-size: 1.5em;
}

.file_container {
  height: 160px;
  background-color: var(--widget-bg-color);
  grid-area: a;
}
.title_container {
  height: 160px;
  background-color: var(--widget-bg-color);
  grid-area: b;
}
.title_container input {
  width: 90%;
}
.display_file_container {
  height: 160px;
  background-color: var(--widget-bg-color);
  grid-area: c;
}
.tag_container {
  height: 200px;
  background-color: var(--widget-bg-color);
  grid-area: d;
}
.tag_container input {
  width: 90%;
}

.about_container {
  height: 200px;
  background-color: var(--widget-bg-color);
  grid-area: e;
}
.about_container textarea {
  width: 90%;
  resize: none;
  font-size: 1.5em;
}
.thumbnail_container {
  height: 150px;
  background-color: var(--widget-bg-color);
  grid-area: f;
}
.grid_container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "a a"
    "b c"
    "d e"
    "f f";
}

.grid_container label {
  display: block;
  text-align: left;
  margin: 15px 0 15px 20px;
}

.thumbnail_container label {
  text-align: center;
}

@media screen and (max-width: 800px) {
  main {
    display: block;
    padding: 5px;
  }
  .preview,
  .settings {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .video_element {
    width: 100%;
  }
  fieldset {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
