@import url(/styles/main.css);

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.preview {
  width: 45%;

  background-color: var(--widget-bg-color);
  margin-top: 40px;
  padding: 10px;
}
.preview h2 {
  text-align: center;
  margin: 10px;
}
.settings {
  width: 45%;
  min-width: 400px;
  height: 60vh;
  margin-top: 40px;
}
.preview video {
  width: 100%;
  position: relative;
}

.preview_overlay p {
  color: white;
  text-align: center;
}
.overlay_container {
  width: 80%;
  position: relative;
  margin: auto;
}
video {
  width: 100%;
  position: relative;
}
.video_element {
  width: 100%;
  position: relative;
  display: none;
}
.video_element:hover > .vid_overlay {
  width: 100%;
  background-color: rgba(1, 1, 1, 0.5);
  padding: 5px;
  margin-bottom: 5px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.vid_overlay {
  display: none;
}
.vid_overlay .container {
  display: flex;
}
/*upload form*/
/*upload form-drag and drop*/
#drag_n_drop {
  color: transparent;
}

.drag_n_drop::-webkit-file-upload-button {
  visibility: hidden;
}
.file_container {
  position: relative;
}
.drag_n_drop::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border: dashed black 3px;
  content: "drag and drop \a or click here to add files";
  color: black;
  text-align: center;
  padding-top: 45px;
  vertical-align: middle;
}
fieldset {
  border: none;
}
.file_container {
  height: 160px;
  background-color: var(--widget-bg-color);
  grid-area: a;
}
.title_container {
  height: 160px;
  background-color: var(--widget-bg-color);
  grid-area: b;
}
.title_container input {
  width: 90%;
}
.display_file_container {
  height: 160px;
  background-color: var(--widget-bg-color);
  grid-area: c;
}
.tag_container {
  height: 200px;
  background-color: var(--widget-bg-color);
  grid-area: d;
}
.tag_container input,
.title_container input {
  width: 90%;
}

.about_container {
  height: 200px;
  background-color: var(--widget-bg-color);
  grid-area: e;
}
.about_container textarea {
  width: 85%;
}
.thumbnail_container {
  height: 150px;
  background-color: var(--widget-bg-color);
  grid-area: f;
}
.grid_container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "a a"
    "b c"
    "d e"
    "f f";
  grid-template-columns: 1fr 1fr;
}

.grid_container label {
  display: block;
  text-align: left;
  margin: 15px 0 15px 20px;
}

.thumbnail_container label {
  text-align: center;
}
@media screen and (max-width: 820px) {
  .settings,
  .preview {
    width: 99%;
    min-width: 0;
  }
}
